.change-password-container {
  font-family: Roboto Condensed;

  .input-form {
    border-top: #E5E5E5 solid 1px;
    border-bottom: #E5E5E5 solid 1px;

    .input-text {
      width: 583px;
    }
  }

  .header {
    #h2 {
      font-weight: 400;
      size: 28px;
      line-height: 32.81px;
    }
  }
}
