.layout-wrapper {
  .layout-content {

    .layout-breadcrumb {
      background-color: $menuBgColor;
      border-bottom: 1px solid $dividerColor;
      min-height: 42px;
      padding: 0px 20px;
      @include border-box();
      @include clearfix();

      ul {
        margin: 12px 0 0 0;
        padding: 0 0 0 12px;
        list-style: none;
        color: $menuitemTextColor;
        display: inline-block;

        li {
          display: inline-block;
          vertical-align: middle;
          color: $menuitemTextColor;

          a {
            color: $menuitemTextColor;
          }
        }
      }

      .layout-breadcrumb-options {
        float: right;
        padding: 0;
        height: 100%;

        a {
          color: $textSecondaryColor;
          display: inline-block;
          width: 42px;
          height: 42px;
          font-size: 20px;
          line-height: 42px;
          text-align: center;
          @include transition(background-color $transitionDuration);

          &:hover {
            background-color: $primaryColor;
            color: $primaryTextColor;
          }

          i {
            line-height: inherit;
          }
        }
      }
    }
  }

  .layout-content {
    .layout-content-container {
      padding: 20px 20px;
    }
  }
}

@media (min-width: 1025px) {
  .layout-wrapper {
    &.layout-horizontal {
      .layout-content {
        padding-top: 100px;
      }
    }

    &.layout-overlay {
      .layout-content {
        padding-top: 50px;
      }
    }

    &.layout-static {
      .layout-content {
        padding-top: 10px;
        margin-left: 230px;
        @include transition(margin-left $transitionDuration);
      }

      &.layout-static-inactive {
        .layout-content {
          margin-left: 0;
        }
      }
    }

    &.layout-slim {
      .layout-content {
        padding-top: 50px;
        margin-left: 60px;
      }
    }
  }
}

.menu-action {
  border: 1px solid #FF4921;
  border-radius: 5px;
  transition-duration: 0.2s;
    button{
      background-color: #ffffff !important;
      color: #FF4921 !important;
      transition-duration: 0.2s;
    }
    &:hover , button:hover{
      background-color: #FF4921 !important;
      color: #ffffff !important;
    }
}

@media (max-width: 1024px) {
  .layout-wrapper {
    .layout-content {
      padding: 50px 0px;
      div #left-side {
        margin-left: 0px !important;
        margin-right: 0px !important;
      }
    }
  }

  a.ui-link {
    padding: 0px;
  }

  .ui-outputpanel.ui-widget.ui-sm-12 {
    padding-left: 0px;
  }

  button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.border-btn {
    margin-left: 8px;
  }

  button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-disabled.filter {
    margin-left: 8px;
  }
}

