$primaryColor: #FF3408;
$primaryTextColor: #ffffff;
$menuBgColor: #ffffff;
$menuitemTextColor: #FFFFFF;
$submenuActiveBgColor: #2A3A51;
$menuItemHoverTextColor: #FF3408;
$menuItemActiveTextColor: #FF3408;

$bodyBgColor: #FFFFFF;
$textColor: #505050;
$textSecondaryColor: #FFFFFF;
$placeholderColor: #a0a0a0;
$dividerColor: #dddddd;

@import '../../sass/layout/_layout.scss';
