.container {
    display: flex;
}

.container .container-left {
    width: 15%;
}

.container .container-right {
    width: 100%;
}

.container .container-left .ui-menu {
    border: 1px solid #7e7e7e;
    border-radius: 25px;
}

.container .container-left {
    margin-right: 15px;
}

.container .container-right .ui-grid-row {
    margin-bottom: 20px;
}

.container-evaluate-detail {

}

.container-evaluate-detail .card-list {
    width: 100%;
}

.container-evaluate-detail .card-list .ui-g {
    width: 100%;
}

.container-evaluate-detail .card-list .ui-panelgrid .ui-panelgrid-content .ui-g .ui-panelgrid-cell .ui-outputpanel .card {
    display: flex;
    width: 100%;
}

.container-evaluate-detail .card-list .ui-panelgrid .ui-panelgrid-content .ui-g .ui-panelgrid-cell .ui-outputpanel .card .p-d-flex {
    display: block;
    width: 20%;
}

.container-evaluate-detail .card-list .ui-panelgrid .ui-panelgrid-content .ui-g .ui-panelgrid-cell .ui-outputpanel .card .p-d-flex label:last-child {
    width: 100%;
}

.container-evaluate-detail .card-list .ui-panelgrid .ui-panelgrid-content .ui-g .ui-panelgrid-cell {
    display: block;
    width: 100%;
}

.button-back {
    border: 1px solid #7a7a7a !important;
    background-color: white !important;
    border-radius: 5px !important;
    color: #7a7a7a !important;
}

.active-menuitem-user {
    background-color: #FF3408 !important;
}

.active-menuitem-user a {
    color: White !important
}

.ui-menu .ui-menu-list .ui-menuitem {
}

.input {
    width: 80% !important;
    float: right;
}

#menu-user li {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

#menu-user li a {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.ui-selectonemenu-filter-container span {

}
